@import url('./_variables.css');
/* ========================================== CLASSES============================================ */

.section-title {
    text-align: center;
}

.sm-title-divider {
    background-color: gold;
    margin: 0 0.5em 1em;
}

.section-divider {
    height: 4px;
    border: -1px solid black;
    background-color: slategrey;
}

.md-title-divider hr {
    border-inline: 2px solid;
    height: 4px;
}

.btn {
    margin: 3em 1em;
}

.btn:hover {
    padding: 10px 10px;
    transform: translateY(-3px);
    color: palegreen;
}

.primary-btn {
    background-color: var(--primary-color);
    box-shadow: 1px 5px 5px 3px #2ec4b542;
}

.secondary-btn {
    background-color: var(--secondary-color);
    box-shadow: 1px 5px 5px 2px #f8f9fa42;
}

.navbar {
    padding: 1rem 4rem;
    font-size: 20px;
}

.navbar .nav-item .nav-link {
    text-transform: capitalize;
}
a.nav-link:hover {
    color: var(--primary-color) !important; 
}

.navbar-scroll {
    background-image: linear-gradient(117deg, rgba(255, 255, 255, 1) 0%, rgba(238, 238, 238, 0.6) 85%, rgba(239, 0, 255, 1) 100%);
    transform: all background-image 3s ease;
}

.navbar-scroll a, .navbar-scroll a:hover {
    color: black !important;
}
.navbar-scroll a:hover {
    background-color: #f8f9fa66 !important;  /* theme color 3 */
}

/* Loader */
div.loading {
    margin: 5rem auto;
    align-items: center;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    font-style: oblique;
    font-family: Tahoma;
}

div.loading span {
    transform: translateY(-50-5%);
}

div.spinner {
    display: inline-block;
    width: 70px;
    height: 70px;
    background-color: var(--secondary-color);
    clip-path: circle();
    margin: 0 0.8em;
}

div.spinner::before {
    content: "";
    display: block;
    width: 70px;
    height: 70px;
    background-color: var(--theme-color-2);
    clip-path: polygon(0% 0%, 100% 0%, 0% 100%, 100% 100%);
    transform-origin: 50% 50%;
    /* anything other than `0 0` to see the effect */
    transform-box: fill-box;
    animation: rotateBox 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
}


/* ================================================= ELEMENTS ============================================ */

nav {
    padding: 4em 0;
}

main {
    margin: 0 auto;
}

section {
    margin: 0 auto 4em;
}

footer {
    background-color: lightslategrey;
    max-height: 20vh;
    display: flex;
    padding: 1em 1em;
    color: black;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

footer a {
    color: black
}

footer kbd {
    margin: 0.5em 0 -2em;
}


/* ---- ANIMATION ---- */

@keyframes rotateBox {
    to {
        transform: rotate(360deg);
    }
}

@keyframes colorChange {
    20% {
        background-image: none;
        opacity: 0.2;
    }
    60% {
        opacity: 1;
        background-image: linear-gradient(117deg, rgba(255, 255, 255, 1) 0%, rgba(238, 238, 238, 0.6) 85%, rgba(239, 0, 255, 1) 100%);
    }
}