:root {
    font-size: 1rem;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --theme-color-1: #170541;
    --theme-color-2: #7209b7;
    --primary-color: #2ec4b6;
    --secondary-color: #f8f9fa;
}

body {
    font-family: "Nunito", Tahoma;
    background-color: var(--theme-color-1);
    color: white;
}

body > * {
    text-align: center;
}

section {
    margin: 0 auto 4em;
}

.section-title {
    text-align: center;
}

.sm-title-divider {
    background-color: gold;
    margin: 0 0.5em 1em;
}

.section-divider {
    height: 4px;
    border: -1px solid black;
    background-color: slategrey;
}

.md-title-divider hr {
    border-inline: 2px solid;
    height: 4px;
}

.btn {
    margin: 3em 1em;
}

.btn:hover {
    padding: 10px 10px;
    transform: translateY(-3px);
    color: palegreen;
}

.primary-btn {
    background-color: var(--primary-color);
    box-shadow: 1px 5px 5px 3px #2ec4b542;
}

.secondary-btn {
    background-color: var(--secondary-color);
    box-shadow: 1px 5px 5px 2px #f8f9fa42;
}


/* ---- MODULES ---- */

.sandwich-menu {
    width: 2em;
    /* aspect-ratio: 1/1; */
    background-color: var(--secondary-color);
    border-radius: 100px;
}

/* Loader */
div.loading {
    margin: 1em auto;
    font-style: oblique;
    align-items: center;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
}
div.loading span {
    transform: translateY(-50-5%);
} 
div.spinner {
    display: inline-block;
    width: 70px;
    height: 70px; 
    background-color: var(--secondary-color);
    clip-path: circle();
    margin: 0 0.8em;
}
div.spinner::before {
    content: "";
    display: block;
    width: 70px;
    height: 70px;
    background-color: var(--theme-color-2);
    clip-path: polygon(0% 0%, 100% 0%, 0% 100%, 100% 100%);
    transform-origin: 50% 50%;
    /* anything other than `0 0` to see the effect */
    transform-box: fill-box;
    animation: rotateBox 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
}

/* ---- ELEMENTS ---- */
nav {
    margin: auto 1em;
}

main {
    margin: 0 auto;
}

footer {
    background-color: lightslategrey;
    max-height: 20vh;
    display: flex;
    padding: 1em 1em;
    justify-content: space-between;
    color: black;
}
footer a { color: black}

/* ---- ANIMATION ---- */

@keyframes rotateBox {
    to {
        transform: rotate(360deg);
    }
}