@import url(./base.css);

/* =========================== HERO SECTION =========================*/

#hero {
    text-align: center;
    /* height: 90vh; */
}

#hero .hero-image {
    text-align: center;
    display: inline-block;
    position: relative;
}

#hero .hero-image img {
    width: 100vw;
    max-width: 670px;
    max-height: 90vh;
    margin: -6em;
    clip-path: polygon(87% 45%, 80% 24%, 76% 20%, 66% 14%, 55% 15%, 46% 19%, 33% 18%, 23% 23%, 19% 31%, 17% 48%, 14% 65%, 21% 89%, 24% 86%, 42% 90%, 71% 90%, 81% 82%);
}

#hero .hero-image-caption {
    font-weight: 700;
    letter-spacing: 6px;
    line-height: 3em;
    text-transform: uppercase;
}

#hero .hero-detail {
    padding: 0.2rem;
    background-color: beige;
    border: 3px double black;
    text-align: left;
    min-width: 10vmin;
    max-height: 80%;
    color: rgba(0, 0, 0, .8);
    font-size: 0.7em;
    display: inline-block;
    position: absolute;
    transform: all ease-in;
}

#hero .detail-title {
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
    color: black;
}

#hero .detail-1 {
    bottom: 50%;
    right: 70%;
}

#hero .detail-2 {
    top: 50%;
    left: 80%;
}

#hero .detail-3 {
    /* top: 80%; */
    bottom: 0;
    right: 80%;
    /* transform: translateX(-50%); */
}

#hero .hero-detail strong {
    text-align: center;
}

#hero .call-to-action a {
    color: black;
}


/* =============================== HISTORY SECTION ============================= */

#history .about-me {
    background-color: var(--theme-color-3);
    margin: 0 15%;
    border-radius: 10px;
    box-shadow: 10px 30px 30px 10px rgba(0, 0, 0, .3) ;
}
#history .about-text {
    padding: 1rem 0 1rem 3rem;
    margin: 0;
    text-align: justify;
    line-height: 28px;
    /* font-size: 20px; */
}

#history .about-image {
    padding: 0.5rem 0;
    background-color: var(--secondary-color);
    text-align: center;
    clip-path: inset(0% 50px);
}

#history .about-image img {
    background-color: var(--primary-color);
}

#history .history-phase .col-6 { 
    display: flex;
    align-items: center;
}

#history .history-phase .col-6:nth-child(odd) {
    border-right: 2px solid sandybrown;
    border-spacing: 3px;
}
#history .history-phase .col-6:nth-child(odd)::before, #history .history-phase.col-6:nth-child(odd)::after {
    content: "";
    width: 2px;
    height: 2px;
    border-right: 2px solid sandybrown;
}

#history .history-phase .col-6:nth-child(4n+1) {
    border-bottom: 1px solid sandybrown;
}

#history .history-phase .col-6:nth-child(4n) {
    border-bottom: 1px solid sandybrown;
}

#history .history-year {
    margin: 0 20px;
    font-size: 60px;
    font-weight: 800;
    color: var(--theme-color-5);
}

#history .col-6 p *, span[class~="history-year"] {
    display: inline-block;
}


/*  ============================ SERVICES SECTION ============================ */

#services .services-frame {
    width: 70vw;
    text-align: center;
    margin: 1em auto;
}

#services .service img {
    width: 64px;
    height: 64px;
    background-color: sandybrown;
    align-items: center;
    padding: 0.8em;
}

#services .service figcaption {
    color: inherit;
    font-weight: 300;
    letter-spacing: 4px;
    text-transform: capitalize;
}


/* ===================================== PROJECTS ================================== */

#projects .projects-tile {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    background-color: rgba(40, 40, 40, .7);
}

.splide__slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.splide__progress__bar {
    height: 3px;
    background: #ccc;
}

#main-carousel {
    width: 100%;
    padding: 0 0.5rem;
    margin: 0 auto 0.8rem;
}

#main-carousel .splide__slide {
    height: 350px;
}

#main-carousel .splide__slide .screenshot {
    height: 80%;
    overflow: hidden;
    background-color: var(--theme-color-2);
}
#main-carousel .splide__slide .caption {
    visibility: none;
  }
  
#main-carousel .splide__slide.is-active .caption {
    visibility: visible;
    height: 20%;
    padding: 0 10px 0 10px;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 0.9rem;
  }
#main-carousel .splide__slide .caption-title {
    text-decoration: underline;
    text-transform: capitalize;
    font-weight: bolder;
    font-size: 1rem;
  }

/* ===================================== FOOTER ================================== */

.social-links {
    align-self: flex-end;
    text-align: center;
}

.social-links a {
    margin: 1em 0.3em;
    color: rgba(0, 0, 0, .7);
}

i.fab {
    padding: 10px;
}

div.footnote {
    margin: 0.5em 0 -0.5em;
}

/* -------------------------------------MOBILE ----------------------- */
@media (min-width: 600px) {
    #main-carousel {
        width: 60%;
    }
    #thumbnail-carousel {
        width:80%;
        margin: 0 auto;
    }
}